body {
    background: url(assets/img/background.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    letter-spacing: 0.1pc;
    color: #fff;
}

.btn {
    outline: none !important;
}