<!-- Main Footer -->
<footer class="container-fluid mx-auto text-center">
    <div class="col-sm-9 mx-auto mt-2 py-5">
        <div class="line text-center mt-3 mx-auto"></div>
    </div>
    <div class="row text-center pt-3 mx-auto">
        <ul class="contact list-unstyled mx-auto" style="list-style: none">
            <li class="px-2"><a class="btn badge" (click)="nav()"><i class="fab fa-facebook-square" style="font-size: 40px; color: #fff"></i></a></li>
            <li class="px-2"><a class="btn badge" (click)="nav()"><i class="fab fa-linkedin" style="font-size: 40px; color: #fff"></i></a></li>
            <li class="px-2"><a class="btn badge" (click)="nav()"><i class="fab fa-github" style="font-size: 40px; color: #fff"></i></a></li>
        </ul>
    </div>
    <div class="col-sm-10 mx-auto pb-3">
        <p class="text-capitalize" style="color:#fff">Coded & Designed by zoe </p>
    </div>
</footer>